[submodule "PlayniteRepo"]
	path = PlayniteRepo
	url = https://github.com/JosefNemec/Playnite.git
	branch = master
[submodule "include/PlayniteSource"]
	path = include/PlayniteSource
	url = https://github.com/CanRanBan/PlayniteFork.git
	branch = LocalBuildMigration
